<section class="flat-row flat-login parallax1" style="padding-top: 0px;padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="login-form" style="font-family:Binggrae">
             <h3 style="font-family:Binggrae">비밀번호 찾기</h3>
         <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
         
           <div class="wrap-login">
             <%= f.input :email, required: true, autofocus: true %>
           </div>
         
           <div class="wrap-login">
             <%= f.button :submit, "비밀번호 찾기 메일 발송" %>
           </div>
         <% end %>
                        </div><!-- /.login-form -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-1">
                    </div><!-- /.col-lg-1 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="overlay"></div>
        </section><!-- /.flat-login -->