@import 'bootstrap';
@import 'font-awesome';

@import 'themify-icons';
@import 'elegant';
@import 'shortcodes';
@import 'animate.min';
@import 'owl.carousel';
@import 'style';
@import 'responsive';


@font-face { 
    font-family: 'drfont_daraehand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff'); 
    font-weight: normal; font-style: normal; } // 다래 손글씨
    
@font-face { 
    font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); 
    font-weight: normal; font-style: normal; } //빙그래 볼드
    
@font-face { font-family: 'Binggrae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); 
    font-weight: normal; font-style: normal; } //빙그레
    
@font-face { font-family: 'KHNPHD'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff'); 
    font-weight: normal; font-style: normal; } // 한돋움체